{% extends 'base.html' %}
{% block title %}
PostBin - {{ bin.name }}
{% if bin.privatebin %}
private
{% endif %}
{% if bin.escapehtml %}
escaped
{% endif %}
{% endblock %}
{% block content %}
  <p>All POST requests to this URL are logged for you to see here, sorted newest to oldest.</p>
  <ul>
    {% for post in posts %}
    <li id="{{ post.id }}">
      <div>
        <a href="#{{ post.id }}" title="A unique ID for this request">#{{ post.id }}</a> @ 
        {{ post.created|time:"H:i" }} {{ post.created|date:"M d Y" }}
        --
        {{ post.remote_addr }} 
        {% if post.query_string %}?{{ post.query_string }}{% endif %}
      </div>
      {% if bin.escapehtml %}
      <pre>{{ post|escape }}</pre>
      {% else %}
      <pre>{{ post }}</pre>
      {% endif %}
      <form action="/delete/{{bin.name}}/{{post.id}}" method="post"><input type="submit" value="delete #{{post.id}}" /></form>
    </li>
    {% endfor %}
  </ul>
  <form action="?test" method="post">
    <input type="hidden" name="foo" value="bar" />
    <input type="hidden" name="bar" value="baz<br />" />
    <input type="submit" value="Test Post" />
  </form>
  {% if posts %}
    <form action="/delete/{{bin.name}}/all" method="post"><input type="submit" value="delete all posts in {{bin.name}}" /></form>
  {% endif %}
  <a href="/">Back Home</a>
{% endblock %}